{% extends 'main/base.html' %}
{% block title %}Customer Profile{% endblock %}

{% block content %}
  <h2>Hello {{ customer.user.username }}</h2>
  <p>Email: {{ customer.user.email }}</p>
  <p>Date of Birth: {{ customer.date_of_birth }}</p>

  <h3>Requested services:</h3>
  <ul>
    {% for request in customer.servicerequest_set.all %}
      <li>
          {{ request.service.name }} - {{ request.hours }}h - Cost: {{ request.cost }} ({{ request.requested_at.date }})
      </li>
    {% empty %}
      <li>No services requested yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
